#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* pond water ripple */
@keyframes wave {
  0% { background-position: 0% 0%; }
  100% { background-position: 100% 0%; }
}

.wave-bg {
  background-image: radial-gradient(circle at 50% 50%, rgba(255,255,255,0.1) 10%, transparent 40%);
  background-size: 200% 100%;
  animation: wave 8s linear infinite;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
